* {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

.ldy_login {
    width: 100%;
}

.ldy_login .center {
    width: 470px;
    height: 680px;
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
}

.ldy_login .center img {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 470px;
    margin-top: 30px;
}
.ldy_login .middle {
    /* 上右下左 */
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.945);
    height: 350px;
    width:100%;
    padding: 30px;
    border-radius: 6px;
    box-sizing: border-box;
}

.ldy_login .middle h2 {
    color: green;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.ldy_login p,
a {
    font-size: 15px;
    color: #555555;
}

.ldy_login a {
    color: #119744;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

.ldy_login div h2+p {
    text-align: center;
    display: block;
    margin-top: 16px;
    margin-bottom: 28px;
    background-color: rgb(255, 255, 255);
}

.ldy_login .but {
    width: 370px;
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    border-radius: 6px;
    border: 0px;
    outline-color: #119744;
}
    .ldy_login .widt{
     width: 100%;
    }

.ldy_login button {
    width: 410px;
    height: 41px;
    background-color: #119744;
    color: rgb(252, 251, 250);
    font-weight: bolder;
    border: 0;
    
    border-radius: 6px;
}

.ldy_login .bottom {
    width: 426px;
    height: 26px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    text-align: center;
    margin-top: 18px;
}

.ldy_login .bottom_text {
    text-align: center;
    margin-top: 25px;
}
.ldy_login .forget {
    display: block;
    text-align: center;
    margin-top: 8px;
}