       * {
            margin: 0;
            padding: 0;
        }

        .user_info {
            width: 100%;
            background-color: rgb(245, 245, 245);
        }

        .info_center {
            width: 1256px;
            margin: 10px auto;
            background-color: rgb(245,245,245);
        }

        .info_kuang {
            width: 100%;
            height: 231px;
            padding: 0 30px 30px 30px;
            box-sizing: border-box;
            margin-bottom: 30px;
            background-color: rgb(255,255,255);
        }

        /* 小框内样式 */
        .kuang_nav {
            height: 36px;
            padding: 20px 0 10px;
            border-bottom: 1px solid rgb(232, 232, 232);
        }

        .kuang_line {
            width: 60px;
            border: 1px solid green;

        }

        .nav_btn {
            width: 88px;
            height: 30px;
            background-color: rgb(221, 255, 213);
            border-radius: 8px;
            border: 0px;
            color: green;
            float: right;
            transform: matrix(-30px);
        }

        .nav_btn:hover {
            background-color: green;
            color: white;
        }

        .nav_title {
            font-size: 20px;
        }

        .kuang_con>ul>li {
            float: left;
            list-style: none;
        }

        .kuang_con>ul>li>input {
            display: block;
            width: 354px;
            height: 41px;
            padding: 0 20px 2px 20px;
            box-sizing: border-box;
            border-radius: 6px;
            background-color: rgb(245, 245, 245);
            border: 0;
            outline-color: #119744;
        }

        /* 用户图像 */
        .kuang_con img {
            border: 2px solid green;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            padding: 3px;
            margin: 30px 100px 30px 50px;
        }

        .kuang_con ul {
            line-height: 75px;
        }

        .kuang_con>ul>li:nth-child(2) {
            margin-right: 30px;
        }

        .kuang_con>ul>li:nth-child(3) {
            margin-right: 40px;
        }

        /* 重置密码 */
        .kuang_con ul:last-child button {
            width: 168px;
            height: 48px;
            background-color: green;
            color: white;
            border-radius: 6px;
            border: 0;
            margin-top: 72px;
        }

        .kuang_num {
            display: flex;
            justify-content: space-around;
        }

        .kuang_num div {
            display: flex;
            width: 310px;
            height: 98px;
            padding: 20px 2px;
            border-radius: 6px;
            box-sizing: border-box;
            background-color: rgb(245,245,245);
            margin-top: 30px;
            justify-content: space-around;
        }
        /* js 添加背景高亮 */
        /* .kuang_num div.active{
            background-color: rgb(221,255,213);
            border: 1px solid #119744;
            user-select: none;
            
        } */
          /* 删除和编辑的高亮 */
        .kuang_num div ul {
            list-style: none;
        }
        .kuang_num>div{
            display: flex;
            justify-content: space-around;
        }
        .kuang_num div ul img {
            width: 27px;
            list-style: none;
            text-align: center;
        }
       